@import url("https://fonts.googleapis.com/css?family=Righteous&display=swap");

:root {
  box-sizing: border-box;
}

h1 {
  font-family: "Righteous", cursive;
  text-align: center;
  padding: 20px;
  font-size: 72px;
  color: whitesmoke;
}

body {
  background-color: rgb(0, 138, 218);
}

#message {
  text-align: center;
  margin-top: 30px;
  color: white;
  font-size: 24px;
  font-family: "Courier New", Courier, monospace;
}

#board {
  height: 485px;
  width: 40%;
  display: flex;
}

#board_wrapper {
  display: flex;
  justify-content: center;
}

.column {
  border: 3px solid black;
  flex-grow: 1;
  display: flex;
  flex-direction: column-reverse;
}

.disc {
  height: 80px;
  border-radius: 50%;
}

.disc.pl1 {
  background-color: yellow;
}

.disc.pl2 {
  background-color: red;
}
